body {
    background-image: url(./Capturar.PNG);
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lbl {
    color: #E8E4E2;
    text-align: center;
    font-family: "Verdana";
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50%;
    background-color: red;
    width: 15rem;
    height: 15rem;
    opacity: 0.92;
  }

  #center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 15rem;
    height: 1.5rem;
  }

  #pk-name{
    background-color: black;
    border: 0.1rem white solid;
    color: white;
    border-radius: 10px;
    height: 0.8rem;
    opacity: 1.2;
  }

  #fim{
    background-color: white;
    height: 6.75rem;
    width: 15rem;
    border-radius: 0px 0px 150px 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

#poke-info{
  background-image: url(./dexinteira.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 3rem;
  padding: 10rem 0.8rem 5rem 0.8rem;
  width:30rem;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.95;
}

.img-poke{
  position: relative;
  left: 5%;
  top: 5% ;
  width: 12.35rem;
  height: 12.55rem;
  border: black solid 0.1rem;
  background: linear-gradient(180deg, rgba(0,215,255,1) 0%, rgba(128,236,255,1) 50%, rgba(250,250,255,1) 100%);

}

figure{
  width: 16rem;
  height: 16rem;
  margin: 0 7rem 0 7rem;
  background-image: url(./dexvisor.jpg);
  background-repeat: no-repeat;
  background-size: 14rem;
  display:flex;
}

  
  